[How to doc in Jupyter Notebook](https://www.ibm.com/docs/en/db2-event-store/2.0.0?topic=notebooks-markdown-jupyter-cheatsheet)

# Python Notes

## What is Python?
Python is a popular Programming Language created by Guido Van Rossum, in 1991. 

It is used for:

- web development (server-side),
- software development,
- mathematics,
- system scripting.

## What can Python do?

- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

### Python Syntax

In [2]:
print('Hi, welcome to Python.')

Hi, welcome to Python.

### Python Indentation

- Indentation refers to the spaces at the beginning of a code line.
- Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.
- Python uses indentation to indicate a block of code.
- Python will give you an error if you skip the indentation
- You have to use the same number of spaces in the same block of code, otherwise Python will give you an error

In [3]:
if 10 > 3:
    print('10 is greater than 3')

10 is greater than 3

### Python Comments

- Comments starts with a #, and Python will ignore them
- Use ''' or """ for multi line comments

In [5]:
# This is a comment
print('Hi there!')

Hi there!

In [9]:
'''
I am Niranjan.
I live in Dmm.
I play cricket.
These text lines will be ignored.
'''

print('Hi there!')

Hi there!

### Python Variables

- **Variables** are containers for storing data values.
- A variable is created the moment you first assign a value to it.
- Variable names are **case-sensitive**.
- Variables do not need to be declared with any particular type, and can even change type after they have been set.
- If you want to specify the data type of a variable, this can be done with **casting**.

In [10]:
a = 5
b = 'abhi'
c = 10.5
d = True

print(a,b,c,d)

5 abhi 10.5 True

In [16]:
a = int(8)
b = str(8)
c = float(8)

a,b,c

(8, '8', 8.0)

In [20]:
print('a :', type(a) ,
      'b : ', type(b),
      'c :', type(c))

a : <class 'int'> b :  <class 'str'> c : <class 'float'>

### Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

- A variable name must start with a **letter** or the **underscore** character.
- A variable name cannot start with a **number**.
- A variable name can only contain **alpha-numeric characters and underscores** (A-z, 0-9, and _ ).
- Variable names are **case-sensitive** (age, Age and AGE are three different variables).
- A variable name cannot be any of the **Python keywords** like if, for else , elif, and, or etc.

In [21]:
myname = 'Abhi'
_myname = 'Abhi'
MyName = 'Abhi'
myName = 'Abhi'
MyName1 = 'Abhi'
MyName_1 = 'Abhi'

print(myname, _myname, MyName, myName, MyName1, MyName_1)

Abhi Abhi Abhi Abhi Abhi Abhi

#### Assign many values to multiple variables

In [22]:
a, b, c = 1, 2, 3

print(a, b, c)

1 2 3

#### Assign one value to multiple variables

In [23]:
a=b=c=1

print(a, b, c)

1 1 1

#### Unpaking collection

In [27]:
nums = [1,2,3]
a,b,c = nums    #asigning variables to the list itmes

print(a,b,c)

1 2 3

### Global Variables

- Variables that are created outside of a function (as in all of the examples above) are known as global variables.
- Global variables can be used by everyone, both inside of functions and outside.

In [30]:
x = 'Abhi'

def test():
    print('My name is', x)

test()

My name is Abhi

- If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [34]:
X = 'Abhi'    #Global

def test():
    x = 'Niranjan'    #Local
    print('My name is', x)

test()    #will print local variable Niranjan

print(x)    # will return global variable Abhi

My name is Niranjan
Abhi

### Global Variable

Normally, when you create a variable inside a function, that variable is **local** and can only be used inside that function.
To create a global variable inside a function, you can use the **global keyword**.

In [36]:
def test1():
    global x    # Making x as global
    x = 'Abhi'
    print('My name is', x)

test1()

print(x)

My name is Abhi
Abhi

- Also, use the global keyword if you want to change a global variable inside a function.

In [38]:
x = 'Niranjan'
def test2():
    global x
    x = 'Abhi'    # changes the global variable value
    print('My name is', x)

test2()

print(x)

My name is Abhi
Abhi

## Python Data Types

### Built-in Data types

In programming, data type is an important concept.<br>
Variables can store data of different types, and different types can do different things.<br>
Python has the following data types built-in by default, in these categories:

Text Type:	**str** <br>
Numeric Types:	**int, float, complex** <br>
Sequence Types:	**list, tuple, range** <br>
Mapping Type:	**dict** <br>
Set Types:	**set, frozenset** <br>
Boolean Type:	**bool** <br>
Binary Types:	**bytes, bytearray, memoryview** <br>
None Type:	**NoneType** <br>

In [41]:
a = 'Abhi'        # str
b = 5             # int
c = 4.0           # float
d = 2+5j          # complex
e = [1,2,3,4]     # list
f = (1,2,3,4)     # Tuple
g = range(4)      # Range
h = {             # dict
    'name':'Abhi',
    'age':26,
    'address':'Dmm'
}     
i  = {1,2,3,4}    # Set
j = frozenset({1,2,3,4})    # Frozenset
k = True          # bool
l = None          # NoneType


a,b,c,d,e,f,g,h,i,j,k,l

('Abhi',
 5,
 4.0,
 (2+5j),
 [1, 2, 3, 4],
 (1, 2, 3, 4),
 range(0, 4),
 {'name': 'Abhi', 'age': 26, 'address': 'Dmm'},
 {1, 2, 3, 4},
 frozenset({1, 2, 3, 4}),
 True,
 None)

In [42]:
type(a)

str

In [43]:
a = str(10)
a

# You cannot convert complex numbers into another number type.

'10'

### Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.

In [58]:
import random
random.randrange(1,10)

2

### Python Casting

To convert a value or variable to a specified data type, use the casting methods b specifying the datatype.

In [59]:
a = int(1)    # Int
b = float(1)    #float
c = str(1)    #str

a,b,c

(1, 1.0, '1')

## Python Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [1]:
a = 'My name is Abhi'
print(a)

My name is Abhi

In [5]:
a = ''' Hi.. My name is Abhi. I am from India'''
print(a)

 Hi.. My name is Abhi. I am from India

### Strings are Arrays
- Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.<br>
- However, Python does not have a character data type, a single character is simply a string with a length of 1.<br>
- Square brackets can be used to access elements of the string.

In [9]:
a = '''Hi.. My name is Abhi. I am from India'''
print(a)

Hi.. My name is Abhi. I am from India

In [17]:
a[0]

'H'

In [16]:
a[0] + a[1]

'Hi'

In [12]:
a[0:4]

'Hi..'

In [7]:
a[:]

' Hi.. My name is Abhi. I am from India'

#### Looping through  string

In [20]:
a = 'Abhi'

for x in a:
    print(x)

A
b
h
i

In [21]:
# length of the string 

print(len(a))

4

In [22]:
# To check if a string or character is in a string use "IN" keyword
a = '''Hi.. My name is Abhi. I am from India'''

print('Abhi' in a)

True

In [23]:
if 'Abhi' in a:
    print('Yes, this data is about Abhi')

Yes, this data is about Abhi

In [30]:
if 'Abhi' not in a:
    print('Abhi is not in the data')
elif 'Abhi' in a:
    print('Abhi is in the data')

Abhi is in the data

### String Concatenation
To concatenate, or combine, two strings you can use the **' + '** operator.

In [33]:
a = 'Niranjan'
b = 'Reddy'

Name = a + ' ' + b    # Only concatenates strings

Name

'Niranjan Reddy'

In [35]:
age  = 26
print('My age is ' + age)    # We cannot combine strings and numbers using '+'

TypeError: can only concatenate str (not "int") to str

- But we can combine strings and numbers by using the format() method! <br>
- The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are

In [36]:
age = 26
a = 'My age is {}'

print(a.format(age))

My age is 26

In [37]:
# We can also use multiple inputs 

name = 'Abhi'
age = 26
city = 'Dmm'

a = 'Hi.. My name is {}. My age is {}. I am from {}'

print(a.format(name, age, city))    # The inputs should be in the same order

Hi.. My name is Abhi. My age is 26. I am from Dmm

In [40]:
# We can also use numbers in the flower brackets to indicate order

name = 'Abhi'
age = 26
city = 'Dmm'

a = 'Hi.. My name is {1}. My age is {0}. I am from {2}'

print(a.format(age, name, city))

Hi.. My name is Abhi. My age is 26. I am from Dmm

## String Methods

### Capitalize()
Returns a string where the first character is upper case, and the rest is lower case.

In [43]:
a = 'hello people...'

print(a.capitalize())

Hello people...

### Casefold()

The casefold() method returns a string where all the characters are lower case.

This method is similar to the lower() method, but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.

In [44]:
a = 'I am Niranjan Reddy'

print(a.casefold())

i am niranjan reddy

### Center()
The center() method will center align the string, using a specified character (space is default) as the fill character.<br>

**Syntax : string.center(length, character)**

In [5]:
a = 'Abhi'

print(a.center(10,'_'))     

# The string 'Abhi' occupies 4 places, the remaining 6 places will be filled with '_' and the string 'Abhi' will be centered.

___Abhi___

### Count()

The count() method returns the number of times a specified value appears in the string.

#### Syntax : string.count(value, start, end)

In [4]:
a = 'Hi.. My name is Abhi. My age is 26. I am from Dmm'

a.count('a')

3

In [7]:
a.count('a',5,20)     # Number of occurances of 'a', starting from position 5 and ending at 20.

1

### Encode()

The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

Refer to https://www.w3schools.com/python/ref_string_encode.asp  for drtailed info.

In [8]:
a.encode()

b'Hi.. My name is Abhi. My age is 26. I am from Dmm'

### Endswith()

The endswith() method returns True if the string ends with the specified value, otherwise False.

#### Syntax : string.endswith(value, start, end)

In [50]:
a = 'Hi.. My name is Abhi. My age is 26. I am from Dmm.'

a.endswith('.')

True

In [11]:
a.endswith(',')

False

In [13]:
a.endswith('e',0,12)

True

### Endswith()
The startswith() method returns True if the string starts with the specified value, otherwise False.
#### Syntax : string.startswith(value, start, end)

In [51]:
a = 'Hi.. My name is Abhi. My age is 26. I am from Dmm.'
a.startswith('Hi')

True

In [52]:
a = 'Hi.. My name is Abhi. My age is 26. I am from Dmm.'
a.startswith('My', 5, len(a))

True

### Expandtabs()

The expandtabs() method sets the tab size to the specified number of whitespaces.

#### Syntax : string.expandtabs(tabsize)
tabsize = A number specifying the tab size. default is 8.

In [21]:
a = 'A\tb\th\ti'
print(a)

A	b	h	i

In [25]:
print(a.expandtabs(1))

A b h i

In [26]:
print(a.expandtabs())

A       b       h       i

### Find()

- The find() method finds the first occurrence of the specified value.<br>
- The find() method returns -1 if the value is not found.<br>
- The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. 

#### Syntax : string.find(value, start, end)

In [28]:
str = 'Hi.. My name is Abhi. My age is 26. I am from Dmm.'

print(str.find('a'))    # First occurance of 'a'

9

In [39]:
print(str.find('a',10,30))

25

In [40]:
print(str.find('a', str.find('a')+1,30))    #dynamically finding the second position of the string

25

### rfind()
- The rfind() method finds the last occurrence of the specified value.
- The rfind() method returns -1 if the value is not found.
- rfind() and rindex() are similar but, if the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception
#### Syntax : string.rfind(value, start, end)

In [27]:
a = 'I am Abhi. Friends call me Abhi.'
print(a.rfind('Abhi'))    #gives the last occurance of teh value.

27

In [32]:
print(a.rfind('Abhi', 20,len(a)))

27

### Index()

- The index() method finds the first occurrence of the specified value.<br>
- The index() method raises an exception if the value is not found.<br>
- The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found.

#### Syntax : string.index(value, start, end)

In [49]:
str = 'Hi.. My name is Abhi. My age is 26. I am from Dmm.'
print(str.index('m'))

10

In [53]:
print(str.index('m',11,40))

39

### rindex()
- The rindex() method finds the last occurrence of the specified value.
- The rindex() method raises an exception if the value is not found.
- The rindex() method is almost the same as the rfind() method.
#### Syntax : string.rindex(value, start, end)

In [33]:
a = 'I am Abhi. Friends call me Abhi.'
print(a.rindex('Abhi'))

27

In [34]:
a = 'I am Abhi. Friends call me Abhi.'
print(a.rindex('Abhi', 20, len(a)))

27

### Format()

- The format() method formats the specified value(s) and insert them inside the string's placeholder.<br>
- The placeholder is defined using curly brackets: {}. <br>
- The format() method returns the formatted string.<br>
- The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.

Refer https://www.w3schools.com/python/ref_string_format.asp for placeholder {} formatting types.

In [47]:
name = 'Abhi'
age = 26

a = 'I am {}. My age is {}'

a.format(name,age)

'I am Abhi. My age is 26'

In [44]:
a = 'I am {0}. My age is {1}'

a.format(name, age)

'I am Abhi. My age is 26'

In [46]:
a = 'I am {name}. My age is {age}'
a.format(name = 'Abhi',age = 26)

'I am Abhi. My age is 26'

### isalnum()

The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
Example of characters that are not alphanumeric: (space)!#%&? etc.

#### Syntax : string.isalnum()

In [54]:
a = 'I am Abhi. My age is 26'

print(a.isalnum())    # Returns false because it has '.'

False

In [55]:
a = 'Pnr99'
print(a.isalnum())

True

### Isidentifier()

- The isidentifier() method returns True if the string is a valid identifier, otherwise False.<br>
- A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [59]:
a = 'abhi_99'
print(a.isidentifier())

True

In [60]:
a = 'pnr 99'
print(a.isidentifier())

False

In [61]:
a = '99_pnr'
print(a.isidentifier())

False

### Islower()
The islower() method returns True if all the characters are in lower case, otherwise False.
Numbers, symbols and spaces are not checked, only alphabet characters.

In [62]:
a = 'Pnr_99'
print(a.islower())

False

In [63]:
b = 'abhi'
print(b.islower())

True

### Isupper()
The isupper() method returns True if all the characters are in upper case, otherwise False.
Numbers, symbols and spaces are not checked, only alphabet characters.

In [74]:
a = 'Pnr_99'
print(a.isupper())

False

In [75]:
a = 'PNR_99'
print(a.isupper())

True

### Isnumeric()
- The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.<br>
- Exponents, like ² and ¾ are also considered to be numeric values.<br>
- "-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.

In [65]:
a = '1334'

print(a.isnumeric())

True

In [66]:
a = '1.3'
print(a.isnumeric())

False

### Isspace()

The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

In [67]:
a = '    '

print(a.isspace())

True

In [68]:
a = '  a  '
print(a.isspace())

False

### Istitle()
- The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.<br>
- Symbols and numbers are ignored.

In [69]:
a = 'Welcome To My World'

print(a.istitle())

True

In [70]:
a = 'Welcome to my World'

print(a.istitle())

False

In [73]:
a = 'WELCOME TO MY WORLD'
print(a.istitle())

False

### Join()
The join() method takes all items in an iterable and joins them into one string.A string must be specified as the separator.
#### Syntax : seperator.join(iterables)

In [80]:
a = ('abhi', 'niranjan', 'rupesh')
print('_'.join(a))    # Joins all the items in the tuple seperated by a '_'

abhi_niranjan_rupesh

### Lower()

The lower() method returns a string where all characters are lower case.
Symbols and Numbers are ignored.

In [1]:
a = 'I AM NIRANJAN'
print(a.lower())

i am niranjan

### Upper()
The upper() method returns a string where all characters are upper case.
Symbols and Numbers are ignored.

In [2]:
a = 'my name is abhi'
print(a.upper())

MY NAME IS ABHI

### Strip()
The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove).

#### Syntax : string.strip(characters)

Characters : optional, specific characters to remove

In [3]:
a = '    abhi   '
print(a)

    abhi

In [4]:
print(a.strip())

abhi

In [7]:
b = ',,,,abhi'
print(b.strip(','))    # Specify the character inside the brackets to remove that particular character

abhi

### lstrip()
The lstrip() method removes any leading characters (space is the default leading character to remove)
#### Syntax : string.lstrip(characters)
Characters : optional, specific characters to remove

In [8]:
a = '     abhi     '
print(a.lstrip())

abhi

In [10]:
a = ',,,,abhi,,,,,'
print(a.lstrip(','))

abhi,,,,,

### rstrip()
The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.
#### Syntax : string.rstrip(characters)
Characters : optional, specific characters to remove

In [15]:
a = '    abhi    '
print(a.rstrip())

    abhi

In [16]:
a = ',,,,abhi,,,,'
print(a.rstrip(','))

,,,,abhi

### Partition()
- The partition() method searches for a specified string, and splits the string into a tuple containing three elements.
- The first element contains the part before the specified string.
- The second element contains the specified string.
- The third element contains the part after the string.
#### Syntax : string.partition(value)

In [17]:
a = 'I am abhi'
print(a.partition('am'))

('I ', 'am', ' abhi')

### rpartition()
The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.
- The first element contains the part before the specified string.
- The second element contains the specified string.
- The third element contains the part after the string

In [35]:
a = 'I am Abhi. Friends call me Abhi. My actual name is Niranjan'
print(a.rpartition('Abhi'))

('I am Abhi. Friends call me ', 'Abhi', '. My actual name is Niranjan')

### Replace()
The replace() method replaces a specified phrase with another specified phrase.
All occurrences of the specified phrase will be replaced, if nothing else is specified.
#### Syntax : string.replace(old_value, new_value, count)

count : Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences.

In [18]:
a = 'I am Abhi'
print(a.replace('Abhi', 'Niranjan'))

I am Niranjan

In [20]:
a = 'I am Abhi. My name is Abhi. Friends call me Abhi.'
print(a.replace('Abhi', 'Niranjan'))

I am Niranjan. My name is Niranjan. Friends call me Niranjan.

In [25]:
a = 'I am Abhi. My name is Abhi. Friends call me Abhi.'
print(a.replace('Abhi','Niranjan', 1))    # Only the first occurance is replaced

I am Niranjan. My name is Abhi. Friends call me Abhi.

### Split()
The split() method splits a string into a list.
You can specify the separator, default separator is any whitespace.
#### Syntax : string.split(seperator, maxsplit)
**separator** : Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator. <br>
**maxsplit** : Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [36]:
a = 'abhi niranjan reddy'
print(a.split())

['abhi', 'niranjan', 'reddy']

In [37]:
a = 'abhi_niranjan_reddy_pnr'
a.split('_')

['abhi', 'niranjan', 'reddy', 'pnr']

In [39]:
a = 'abhi_niranjan_reddy_pnr'
a.split('_', 1)    # splits the string only for the first occurance of the seperator

['abhi', 'niranjan_reddy_pnr']

In [44]:
a = 'abhi_niranjan_reddy_pnr'
a.split('_', 2)    # splits the string till the second occurance of the seperator

['abhi', 'niranjan', 'reddy_pnr']

### Splitlines()
The splitlines() method splits a string into a list. The splitting is done at line breaks.
#### Syntax : String.splitlines(linebreaks)
**Linebreaks** : Optional. Specifies if the line breaks should be included (True), or not (False). Default value is False.

In [47]:
a = 'I am Niranjan.\nMy friends call me Abhi.\nI like it'
a.splitlines()

['I am Niranjan.', 'My friends call me Abhi.', 'I like it']

In [49]:
a = 'I am Niranjan.\nMy friends call me Abhi.\nI like it'
a.splitlines(True)    # Linesbreaks i.e, '/n' is also included.

['I am Niranjan.\n', 'My friends call me Abhi.\n', 'I like it']

### Swapcase()
The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

#### Syntax : string.swapcase()

In [53]:
a = 'I am Niranjan Reddy'
a.swapcase()

'i AM nIRANJAN rEDDY'

### Title()
The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

In [54]:
a = 'I am niranjan reddy'
a.title()

'I Am Niranjan Reddy'

### zfill()
The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

In [55]:
a = 'abhi'
a.zfill(10)

'000000abhi'

In [58]:
a = 'My name is Abhi'
a.zfill(10)    # No zeros are added as the length of the the string is greater than 10

'My name is Abhi'

In [4]:
from platform import python_version
python_version()

'3.11.0'

## <font color = Green>Data Structures
## <font color = blue>Python Collections (Arrays)
 There are four collection data types in the Python programming language:

- <font color = Orange size = 3>**List**</font>, is a collection which is ordered and changeable. Allows duplicate members.
- <font color = Orange size = 3>**Tuple**</font> is a collection which is ordered and unchangeable. Allows duplicate members.
- <font color = Orange size = 3>**Set**</font> is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
- <font color = Orange size = 3>**Dictionary**</font>  is a collection which is ordered and changeable. No duplicate members.

### <font color = Orange> List
- Lists are created using square brackets.
- Lists are used to store multiple items in a single variable.
- ***List items are ordered, changeable(mutable), and allow duplicate values.***
- List items are indexed, the first item has index [0], the second item has index [1] etc.

In [26]:
# Lists can store any datatypes (Numbers, text, bool)
nums = [1,3,4,5,6,7,4,4,3]
texts = ['Abhi','Teja','Vinod','Cherry','Chintu','Madhu']
bools = [True,False,False,True]
mix = [1,3,4,'Abhi','Chintu',True,False]

print(nums)
print(texts)
print(bools)
print(mix)

[1, 3, 4, 5, 6, 7, 4, 4, 3]
['Abhi', 'Teja', 'Vinod', 'Cherry', 'Chintu', 'Madhu']
[True, False, False, True]
[1, 3, 4, 'Abhi', 'Chintu', True, False]

In [35]:
# From Python's perspective, lists are defined as objects with the data type 'list'

print(type(nums))
print(type(mix))

<class 'list'>
<class 'list'>

In [2]:
# We can also create a list by using "list constructor"

a = list((1,'Abhi', 'Niranjan', 'Chintu', 'Cherry',3,6,5,9,'Madhu'))
print(a)

[1, 'Abhi', 'Niranjan', 'Chintu', 'Cherry', 3, 6, 5, 9, 'Madhu']

### Accessing List Items

In [67]:
# Indexing
# Indexing in python starts from '0'
# the first item has index [0], the second item has index [1]

a[2]

'Niranjan'

In [55]:
# Negative Indexing
a[-1]

'Madhu'

In [65]:
# Slicing

a[2:4]    # Returns 2nd and 3rd position but not 4th

['Niranjan', 'Chintu']

In [60]:
a[:6]    # Returns starting to the index 5, but not 6th

[1, 'Abhi', 'Niranjan', 'Chintu', 'Cherry', 3]

In [63]:
a[3:]    # Returns from index 3 to end

['Chintu', 'Cherry', 3, 6, 5, 9, 'Madhu']

In [64]:
a[:]    # Returns everything

[1, 'Abhi', 'Niranjan', 'Chintu', 'Cherry', 3, 6, 5, 9, 'Madhu']

In [5]:
a[::-1]    # Third argument is the step. -1 will give us the list in the reverse order.

['Madhu', 9, 5, 6, 3, 'Cherry', 'Chintu', 'Niranjan', 'Abhi', 1]

### Changing List Items

In [104]:
names = ['Abhi','Cherry','Chintu','Madhu','Vinod','Teja','Pinky']

a = names[0]
print('Before the change :', a)
 
# Changing a value
names[0] = 'Niranjan'
b = names[0]
print('After the change :', b)

Before the change : Abhi
After the change : Niranjan

In [107]:
# Changing a list of values
names = ['Abhi','Cherry','Chintu','Madhu','Vinod','Teja','Pinky']
print(names)

names[1:4] = ['Sasi','Nasa','Kow']
print(names)

['Abhi', 'Cherry', 'Chintu', 'Madhu', 'Vinod', 'Teja', 'Pinky']
['Abhi', 'Sasi', 'Nasa', 'Kow', 'Vinod', 'Teja', 'Pinky']

In [3]:
names = ['Abhi','Cherry','Chintu','Madhu','Vinod','Teja','Pinky']
print(names)

names[1:4] = ['Niranjan']
print(names)

['Abhi', 'Cherry', 'Chintu', 'Madhu', 'Vinod', 'Teja', 'Pinky']
['Abhi', 'Niranjan', 'Vinod', 'Teja', 'Pinky']

In [7]:
# Inserting a new value into the list

names = ['Abhi','Cherry','Chintu','Madhu','Vinod','Teja','Pinky']
print(names)

names.insert(1, 'Niranjan')
print(names)

['Abhi', 'Cherry', 'Chintu', 'Madhu', 'Vinod', 'Teja', 'Pinky']
['Abhi', 'Niranjan', 'Cherry', 'Chintu', 'Madhu', 'Vinod', 'Teja', 'Pinky']

### List Comprehension

In [9]:
names = ['Abhi','Cherry','Chintu','Madhu','Vinod','Teja','Pinky']
print(names)

new_names = [x for x in names if 'a' in x]
new_names

['Abhi', 'Cherry', 'Chintu', 'Madhu', 'Vinod', 'Teja', 'Pinky']

['Madhu', 'Teja']

### Joining two lists

In [12]:
l1 = [1,2,3,4,5,6]
l2 = ['a','g','d','t']
l3 = l1+l2

print(l3)

[1, 2, 3, 4, 5, 6, 'a', 'g', 'd', 't']

In [13]:
l1 = [1,2,3,4,5,6]
l2 = ['a','g','d','t']

for x in l2:
    l1.append(x)
print(l1)

[1, 2, 3, 4, 5, 6, 'a', 'g', 'd', 't']

In [15]:
l1 = [1,2,3,4,5,6]
l2 = ['a','g','d','t']

l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6, 'a', 'g', 'd', 't']

### List Methods
Python has a set of built-in methods that you can use on lists.

### Append()   
Adds an element at the end of a list

In [16]:
names = ['Abhi','Cherry','Chintu','Madhu','Vinod','Teja','Pinky']
print(names)
names.append('Niranjan')
print(names)

['Abhi', 'Cherry', 'Chintu', 'Madhu', 'Vinod', 'Teja', 'Pinky']
['Abhi', 'Cherry', 'Chintu', 'Madhu', 'Vinod', 'Teja', 'Pinky', 'Niranjan']

In [19]:
names = ['Abhi','Cherry','Chintu','Madhu','Vinod','Teja','Pinky']
m = [1,2,3,4,5,5,5]

names.append(m)
print(names)

['Abhi', 'Cherry', 'Chintu', 'Madhu', 'Vinod', 'Teja', 'Pinky', [1, 2, 3, 4, 5, 5, 5]]

### Clear() 
Removes all the elements from the list

In [7]:
nums = [1,2,3,4,5,6,7,8,9,0]
print(nums)

nums.clear()    #Returns an empty list
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[]

### Copy()
Returns a shallow copy of the list

In [10]:
nums = [1,2,3,4,5,6,7,8,9,0]
c = nums.copy()

print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

### Count()
Returns the count of specified element in the list

In [15]:
nums = [1,2,2,2,3,4,6,5,3,2,1,3,3,4]
nums.count(2)

4

In [19]:
m = ['a','b','c','a','a','b','c','d','b','c','a','a','b']
m.count('a')

5

### Extend()
Add the elements of a list to the end of the current list

In [34]:
m = [1,2,3,4]
n = [5,6,7,8]

m.extend(n)
m

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
m = ['a','b','c']
n = ['d','e','f']

m.extend(n)
m

['a', 'b', 'c', 'd', 'e', 'f']

### Index()
Returns the position of the first occurance of the specified value by default.
Has two optional parameters : start, end positions <br>

list.index('string', start, end)

In [45]:
mag = ['a','c','a','a','b','c','d','b','c','a','a','b']
mag.index('b')

4

In [48]:
nums = [6,5,3,3,5,7,7,4,2,45,6,7,7]
nums.index(3)

2

In [121]:
mag = ['a','c','a','a','b','c','d','b','c','a','a','b']
mag.index('a',1,8)    
#starts searching for 'a' from the 1st position not the 0th position because starting position to search for is given as 1

2

### Insert()
#### insert(*position, value*) <br>
Adds an element at the specified position. Takes 2 parameters 'position' and 'value'.

In [50]:
nac = ['a','b','c']
nac.insert(0,'Abhi')    
nac

['Abhi', 'a', 'b', 'c']

In [51]:
nums = [1,2,3]
nums.insert(1,25)
nums

[1, 25, 2, 3]

### Pop()
Removes an element at the specified position. By default, removes the last element in the list, if position is not specified. <br>
.pop() method returns the removed value.

In [52]:
nac = ['a','b','c']
nac.pop(0)
nac

['b', 'c']

In [58]:
nac = ['a','b','c']
nac.pop()
nac

['a', 'b']

In [60]:
nac = ['a','b','c']
nac.pop(1)    #'b' is removed

'b'

In [61]:
nac = ['a','b','c']
nac.pop()    #'c' is removed

'c'

### Remove()
Removes the first occurance of the specified element from the list

In [65]:
mag = ['a','b','b','c','a','a']
mag.remove('a')    #Removes only the first occurance of 'a'
mag

['b', 'b', 'c', 'a', 'a']

In [68]:
mag = ['a','b','b','c','a','a']
mag.remove('b')
mag

['a', 'b', 'c', 'a', 'a']

### Reverse()
Returns a list in the reversed order

In [72]:
mag = ['a','b','c']
mag.reverse()
mag

['c', 'b', 'a']

In [78]:
#reversed() function returns a reversed iterator object

z = []
m = ['a','b','c']
r = reversed(m)
for x in r:
    print(x)
    z.append(x)
    
z

c
b
a

['c', 'b', 'a']

### Sort()
Sorts the list. Takes two optional parameters 'reverse' and 'key' <br>
list.sort(*reverse=True, key=myfunc*)

*reverse = False* (For ascending order)(Default value)
*reverse = True* (for descending order)

myfunc = A function to specify sorting criteria

In [87]:
mag = ['a','c','a','a','b','c','d','b','c','a','a','b']
nums = [1,2,3,4,5,6,7,8,9,0]
mag.sort()
nums.sort()

print(mag)
print(nums)

['a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c', 'd']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
mag = ['a','c','a','a','b','c','d','b','c','a','a','b']
nums = [1,2,3,4,5,6,7,8,9,0]
mag.sort(reverse = True)
nums.sort(reverse = True)

print(mag)
print(nums)

['d', 'c', 'c', 'c', 'b', 'b', 'b', 'a', 'a', 'a', 'a', 'a']
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [92]:
#creating a function that returns the length of the names
def name_length(x):
    return len(x)

names = ['Abhi','Cherry','Niranjan','Madhu','Vinod','Teja','PNR']
names.sort(reverse = False, key = name_length)    #using the function out as the sorting criteria

names

['PNR', 'Abhi', 'Teja', 'Madhu', 'Vinod', 'Cherry', 'Niranjan']

In [100]:
def rank(n):
    return n['rank']

data = [
    {'name' : 'Niranjan', 'rank' : 4},
    {'name' : 'Chintu', 'rank' : 5},
    {'name' : 'Cherry', 'rank' : 1},
    {'name' : 'Abhi', 'rank' : 6},
    {'name' : 'Madhu', 'rank' : 7}
]

data.sort(reverse = True,key = rank)    #sorting data based on the output from the 'rank' function

data

[{'name': 'Madhu', 'rank': 7},
 {'name': 'Abhi', 'rank': 6},
 {'name': 'Chintu', 'rank': 5},
 {'name': 'Niranjan', 'rank': 4},
 {'name': 'Cherry', 'rank': 1}]

### del
The del statement is used to delete the item from a specified index position.<br>
The del statement can also be used to remove slices from a list or clear the entire list. del can also be used to delete entire variables.

In [150]:
names = ['Abhi','Cherry','Niranjan','Madhu','Vinod','Teja','PNR']

del names[0]    #deletes item at position 0
print('First delete :', names)

del names [0:2]    #deletes items starting from position 0 to 1 but not at position 2
print('Second delete :', names)

del names    #deletes the variable. Will get an error if you reference 'names' going further

#  print(names)    #gives an error as 'names' is not defined because it is deleted

First delete : ['Cherry', 'Niranjan', 'Madhu', 'Vinod', 'Teja', 'PNR']
Second delete : ['Madhu', 'Vinod', 'Teja', 'PNR']

### Stack
Stack works on the principle of “**Last-in, first-out**” (LIFO). To add an item to the top of the stack, use **append()**. To retrieve an item from the top of the stack, use **pop()** without an explicit index.

In [133]:
stack = ['Abhi','Cherry','Niranjan']
stack.append('Chintu')    #added at the end

print('First append :', stack)

stack.append('Madhu')    #added at the end
print('Second append :', stack)

stack.pop()    #removes the last added item i.e, 'Madhu'
print('First pop :', stack)

stack.pop()    #removes the second last added item i.e, 'Chintu'
print('second pop :', stack)

First append : ['Abhi', 'Cherry', 'Niranjan', 'Chintu']
Second append : ['Abhi', 'Cherry', 'Niranjan', 'Chintu', 'Madhu']
First pop : ['Abhi', 'Cherry', 'Niranjan', 'Chintu']
second pop : ['Abhi', 'Cherry', 'Niranjan']

### Queue
Queue works on the principle of “**First-in, first-out**” (FIFO). 
<br>To add an item to the end of the queue, use **append()**. To retrieve an item from the start of the queue, use **pop(0)**.

In [136]:
queue = ['Abhi','Cherry','Niranjan']

queue.append('Chintu')    #added at the end
print('First append :', queue)

queue.append('Vinod')    #added at the end
print('second append :', queue)

queue.pop(0)    #removes the item which is added first into queue i.e, 'Abhi'
print('First pop :', queue)

queue.pop(0)    #removes the next first item from the queue i.e, 'Cherry'
print('Second pop :', queue)

First append : ['Abhi', 'Cherry', 'Niranjan', 'Chintu']
second append : ['Abhi', 'Cherry', 'Niranjan', 'Chintu', 'Vinod']
First pop : ['Cherry', 'Niranjan', 'Chintu', 'Vinod']
Second pop : ['Niranjan', 'Chintu', 'Vinod']

### Queue - deque
Lists are not efficient for this queue purpose. While appends and pops from the end of list are fast, doing inserts or pops from the beginning of a list is slow (because all of the other elements have to be shifted by one).<br>

To implement a queue, use collections.deque which was designed to have fast appends and pops from both ends.

deque uses **append()** to add an item at the end and **popleft()** to remove the first item.

In [142]:
from collections import deque

queue = deque(['Abhi','Cherry','Niranjan'])
print('Initial queue :', queue)

queue.append('Vinod')    #adds an item at the end
print('First append :', queue)

queue.append('Madhu')    #adds an item at the end
print('Second append :', queue)

queue.popleft()
print('First pop :', queue)    #popleft removes the first item from the queue

queue.popleft()    #removes the next first item from the queue
print('Second pop :', queue)

Initial queue : deque(['Abhi', 'Cherry', 'Niranjan'])
First append : deque(['Abhi', 'Cherry', 'Niranjan', 'Vinod'])
Second append : deque(['Abhi', 'Cherry', 'Niranjan', 'Vinod', 'Madhu'])
First pop : deque(['Cherry', 'Niranjan', 'Vinod', 'Madhu'])
Second pop : deque(['Niranjan', 'Vinod', 'Madhu'])

### List Comprehensions

A **list comprehension** consists of brackets containing an expression followed by a **for clause, then zero or more for or if clauses**. <br>
The result will be a new **list** resulting from evaluating the expression in the context of the for and if clauses.<br>
<br>
List comprehensions provide a concise way to create lists. <br>
Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.<br>

<br>
Create a list of squares

In [12]:
#Normal method

squares = []
for x in range(10):
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
#Using map 

s1 = list(map(lambda x:x**2, range(10)))
s1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
#Using list comprehensions

s2 = [x**2 for x in range(10)]
s2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Combine the elements of two lists if they are not equal

In [18]:
#Using list Comprehension

[(x,y) for x in [1,2,3] for y in [1,2,3] if x!=y]

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [24]:
# Normal method

a = []
for x in [1,2,3]:
    for y in [1,2,3]:
        if x!=y:
            a.append((x,y))
a

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [25]:
# create a new list with the values doubled

v = [1,-3,-2,5,-4,-8,6,-9]

[x*2 for x in v]

[2, -6, -4, 10, -8, -16, 12, -18]

In [26]:
# filter the list to exclude negative numbers

[x for x in v if x>=0]

[1, 5, 6]

In [27]:
# apply a function to all the elements

[abs(x) for x in v]

[1, 3, 2, 5, 4, 8, 6, 9]

In [28]:
# call a method on each element
n = ['abhi', 'niranjan', 'chintu', 'cherry']

[x.upper() for x in n]

['ABHI', 'NIRANJAN', 'CHINTU', 'CHERRY']

In [29]:
# create a list of 2-tuples like (number, square)

[(x,x**2) for x in range(5)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [30]:
# flatten a list using a listcomp with two 'for'

fl = [[4,2,3],[8,4,3],[9,7,3]]

[x for y in fl for x in y]

[4, 2, 3, 8, 4, 3, 9, 7, 3]

In [33]:
#unpacking using normal method

r = []
for x in fl:
    for y in x:
        r.append(y)
r

[4, 2, 3, 8, 4, 3, 9, 7, 3]

#### Nested List Comprehensions


Transpose the given matrix

In [38]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

transposed = []

for i in range(len(matrix[0])):
    transposed_row = []
    for x in matrix:
        transposed_row.append(x[i])
    transposed.append(transposed_row)
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [39]:
t1 = []
for m in range(len(matrix[0])):
    t1.append([x[m] for x in matrix])
t1

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [41]:
#using list comprehension

[[x[i] for x in matrix] for i in range(len(matrix[0]))]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

## <font color = Orange> Tuple
- Tuples are created using round brackets.
- Tuples are used to store multiple items in a single variable.
- ***Tuple items are ordered, unchangeable(immutable), and allow duplicate values.***
- Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [2]:
#Example of a tuple

t = ('abhi', 'cherry', 'chintu')
t

('abhi', 'cherry', 'chintu')

In [4]:
# Tuples can also be created without round brackets

t1 = 1,2,2,'Niranjan'
t1

(1, 2, 2, 'Niranjan')

In [9]:
# creating a tuple with one item
# To create a tuple with one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

t2 = (1,)    # Remember the comma
print(t2)

t3 = ('abhi')    # not a tuple
print(t3)

(1,)
abhi

In [12]:
# Tuple supports string, int, boolean and mix data types

t1 = (1,2,3)
t2 = 'abhi', 'cherry', 'Niranjan'
t3 = True, False, True
t4 = (1,2,'abhi',True)

print(t1)
print(t2)
print(t3)
print(t4)

(1, 2, 3)
('abhi', 'cherry', 'Niranjan')
(True, False, True)
(1, 2, 'abhi', True)

In [14]:
# to know the type of object

t = 1,2,3,4
print(type(t))

<class 'tuple'>

In [15]:
# Tuples can be created by tuple constructor

t = tuple((1,2,3,4))
t

(1, 2, 3, 4)

In [19]:
# To find the length of tuple, use len

t = 3,2,1,4
print(len(t))

4

### Accessing Tuple items

You can access tuple items by referring to the index number, inside square brackets.

In [23]:
t = 'abhi', 'niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja'
t[1]    # The first item has index 0

'niranjan'

In [24]:
# when accessing a range of items, a tuple will be returned

t[1:4]    # from position 1 to 3 but not 4

('niranjan', 'cherry', 'chintu')

In [25]:
t[:4]    # from start to 3 but not 4

('abhi', 'niranjan', 'cherry', 'chintu')

In [26]:
t[:]    # from start to end

('abhi', 'niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja')

In [28]:
t[-4:-1]    # from -4 to -2 but not -1

('chintu', 'vinod', 'madhu')

### Updating Tuple

Tuples are **unchangeable**, meaning that you cannot change, add, or remove items once the tuple is created.
But there are some workarounds.<br>
You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [37]:
t = ('abhi', 'niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja')
tl = list(t)
tl.remove('abhi')    # Removing an item from tuple
tt = tuple(tl)
tt

('niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja')

In [38]:
t = ('abhi', 'niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja')
tl = list(t)
tl.append('Pinky')    # appending an item to tuple
tt = tuple(tl)
tt

('abhi', 'niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja', 'Pinky')

### Unpacking Tuples

In [41]:
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple

names = ('abhi', 'niranjan', 'cherry')
names

('abhi', 'niranjan', 'cherry')

In Python, we are also allowed to extract the values back into variables. This is called "**unpacking**".<br>
The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [45]:
names = ('abhi', 'niranjan', 'cherry')
a,b,c = names

a,c

('abhi', 'cherry')

In [46]:
names = ('abhi', 'niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja')
a,b,*c = names
print(a)
print(b)
print(c)

abhi
niranjan
['cherry', 'chintu', 'vinod', 'madhu', 'teja']

In [47]:
names = ('abhi', 'niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja')
a,*b,c = names
print(a)
print(b)
print(c)

abhi
['niranjan', 'cherry', 'chintu', 'vinod', 'madhu']
teja

### Looping through tuples

In [49]:
names = ('abhi', 'niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja')

for x in names:
    print(x)

abhi
niranjan
cherry
chintu
vinod
madhu
teja

In [50]:
names = ('abhi', 'niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja')

for i in range(len(names)):
    print(names[i])

abhi
niranjan
cherry
chintu
vinod
madhu
teja

In [1]:
names = ('abhi', 'niranjan', 'cherry', 'chintu', 'vinod', 'madhu', 'teja')

i = 0
while i<len(names):
    print(names[i])
    i+=1

abhi
niranjan
cherry
chintu
vinod
madhu
teja

### Join Tuples

In [3]:
t1 = 'a','b','c'
t2 = 'f','g','h'
t = t1+t2
t

('a', 'b', 'c', 'f', 'g', 'h')

In [5]:
t1 = 'a','b','c'

t = t1*2    # Multiply tuple with two to get the items twice
t

('a', 'b', 'c', 'a', 'b', 'c')

### Tuple Methods

### Count()
The count() method returns the number of times a specified value appears in the tuple.

In [6]:
t = (1,2,3,4,3,23,2,2,3,4,4,3,2,4,4,3,2,2)
t.count(2)

6

### Index()
The index() method finds the first occurrence of the specified value.
The index() method raises an exception if the value is not found.

In [7]:
t = (1,2,3,4,3,23,2,2,3,4,4,3,2,4,4,3,2,2)
t.index(4)

3

## <font color = Orange> Sets
- Sets are written with curly brackets.
- Sets are used to store multiple items in a single variable.
- ***Set items are unordered, unchangeable, and do not allow duplicate values.***
- Set items are **un-indexed** and hence you cannot be sure in which order the items will appear.
- Set items are **unchangeable**, but you can remove items and add new items.

In [1]:
s = {'abhi', 'niranjan', 'cherry'}
s

{'abhi', 'cherry', 'niranjan'}

#### Set items can be of any data type

In [13]:
s1 = {1,2,3,4}
s2 = {'abhi','niranjan','cherry','chintu'}
s3 = {True,False,False,True}
s4 = {1,'abhi',True}

print(s1)
print(s2)
print(s3)
print(s4)

{1, 2, 3, 4}
{'chintu', 'cherry', 'niranjan', 'abhi'}
{False, True}
{1, 'abhi'}

In [14]:
# Use type() to know the type of object

s = {1,2,3,4}
print(type(s))

<class 'set'>

#### Sets can be also be created by using set() constructor

In [15]:
s = set((1,2,3,4))
s

{1, 2, 3, 4}

#### Use len() to get the length of the set items

In [17]:
s = {'abhi', 'niranjan', 'cherry', 'abhi', 'niranjan'}  
print(len(s))    #Gives the length of distinct items

3

#### Sets do not allow duplicates

In [3]:
# Each item in theset appears only once

s = {'abhi', 'niranjan', 'cherry', 'abhi', 'niranjan'}  
s

{'abhi', 'cherry', 'niranjan'}

#### In sets 1 and True are considered same

In [12]:
s = {'abhi', 'niranjan', 1,2,3,True, False}
s    # Either 1 or True will be printed

{1, 2, 3, False, 'abhi', 'niranjan'}

### Accessing set items

Since sets are unindexed, you cannot access items in a set by referring to an index or a key.<br>
But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the **in** keyword.

In [18]:
s = {'abhi', 'niranjan', 1,2,3,True, False}
for x in s:
    print(x)

False
1
2
3
niranjan
abhi

In [20]:
s = {'abhi', 'niranjan', 1,2,3,True, False}

print('abhi' in s)    # checking if an item is present in the set

True

### Adding items to sets

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the **add()** method.<BR>
To add all the items from a set or list or tuple or dictionary use **update()**

In [21]:
s = {'abhi', 'niranjan'}
s.add('Cherry')
s

{'Cherry', 'abhi', 'niranjan'}

In [26]:
s1 = {'abhi', 'niranjan'}
s2 = {'cherry', 'chintu'}

print('Before the change :',s1)

s1.update(s2)

print('After the change :',s1)

Before the change : {'niranjan', 'abhi'}
After the change : {'chintu', 'cherry', 'niranjan', 'abhi'}

In [29]:
s = {'abhi','niranjan'}
l = [1,2,3,4]
t = ('a1','b2')

s.update(l)
print('s combined with l :', s)

s.update(t)
print('s combined with l and t :', s)

s combined with l : {1, 2, 3, 4, 'niranjan', 'abhi'}
s combined with l and t : {1, 2, 3, 4, 'b2', 'niranjan', 'a1', 'abhi'}

#### Removing items from sets

To remove an item in a set, use the **remove()**, or the **discard()** method.<BR>
If the item to remove does not exist, remove() will raise an error, discard() will NOT raise an error.

In [30]:
s = {'abhi', 'niranjan', 'cherry', 'chintu'}
s.remove('chintu')
s

{'abhi', 'cherry', 'niranjan'}

In [31]:
s = {'abhi', 'niranjan', 'cherry', 'chintu'}
s.discard('abhi')
s

{'cherry', 'chintu', 'niranjan'}

In [34]:
s = {'abhi', 'niranjan', 'cherry', 'chintu'}
s.remove('abc')    # gives out an error
s

KeyError: 'abc'

In [35]:
s = {'abhi', 'niranjan', 'cherry', 'chintu'}
s.discard('abc')    #though 'abc' is not in the set, discard will not give an error
s

{'abhi', 'cherry', 'chintu', 'niranjan'}

### pop()
Sets are unordered, so when using the **pop()** method, you do not know which item that gets removed.<BR>
The return value of the **pop()** method is the removed item.

In [45]:
s = {'abhi', 'niranjan', 'cherry', 'chintu'}
x = s.pop()

print(s)
print(x)

{'cherry', 'niranjan', 'abhi'}
chintu

### Clear()
CLear() empties the set.

In [46]:
s = {'abhi', 'niranjan', 'cherry', 'chintu'}
s.clear()
s

set()

### Del()
del() keyword deletes the entire set permanently.

In [50]:
s = {'abhi', 'niranjan', 'cherry', 'chintu'}
del s

print(s)    # Gives a definition error as s is deleted

NameError: name 's' is not defined

### Joining Sets
There are several ways to join two or more sets in Python. Both **union()** and **update()** will exclude any duplicate items.

### Union()
The union() method returns a new set with all items from both sets.

In [56]:
s1 = {1,2,3}
s2 = {'abhi','niranjan','chintu'}

s3 = s1.union(s2)

s3

{1, 2, 3, 'abhi', 'chintu', 'niranjan'}

### Update()
The update() method inserts the items in set2 into set1.

In [57]:
s1 = {1,2,3}
s2 = {'abhi','niranjan','chintu'}

s1.update(s2)
s1

{1, 2, 3, 'abhi', 'chintu', 'niranjan'}

### Intersection()  / Intersection_update()

The **intersection()** method will return a new set, that only contains the items that are present in both sets. (elements that are common)

The **intersection_update()** method will keep only the items that are present in both sets. (elements that are common)

In [61]:
s1 = {'a','b','c','d'}
s2 = {'c','d','d','w','f'}

s3 = s1.intersection(s2)    # creates a new set
s3

{'c', 'd'}

In [62]:
s1 = {'a','b','c','d'}
s2 = {'c','d','d','w','f'}

s1.intersection_update(s2)    # Updates the existing s1 set
s1

{'c', 'd'}

### Symmetric_difference() / Symmetric_difference_update()

The **symmetric_difference()** method will return a new set, that contains only the elements that are NOT present in both sets.(elements that are not common)

The **symmetric_difference_update()** method will keep only the elements that are NOT present in both sets. (elements that are not common)

In [63]:
s1 = {'a','b','c','d'}
s2 = {'c','d','d','w','f'}

s3 = s1.symmetric_difference(s2)    # Creates a new set with elements that are not same from both sets
s3

{'a', 'b', 'f', 'w'}

In [64]:
s1 = {'a','b','c','d'}
s2 = {'c','d','d','w','f'}

s1.symmetric_difference_update(s2)    # updates s1 with elements that are not same from both sets.
s1

{'a', 'b', 'f', 'w'}

### Set Methods

### Add()
Adds an element to the set.

In [65]:
s = {1,2,3}
s.add(5)
s

{1, 2, 3, 5}

### Clear()
Removes all the elements from the list.

In [67]:
s = {1,2,3,4,5,6,5}
s.clear()
s    # Returns an empty set

set()

### Copy()

Copy() method copies a set.

In [69]:
s1 = {1,2,3,4}
s2 = s1.copy()    # Copies all elements from s1 to s2
s2

{1, 2, 3, 4}

### Difference()

The **difference()** method returns a set that contains the difference between two sets.
<BR>The returned set contains items that exist only in the first set, and not in both sets.

In [71]:
s1 = {'a','b','c','d'}
s2 = {'c','d','d','w','f'}

s3 = s1.difference(s2)
s3

{'a', 'b'}

### Difference_update()
This method updates the first set byremoving any common elements that are present in both the sets.

The **difference_update()** method is different from the **difference()** method, because the **difference()** method returns a new set, without the unwanted items, and the **difference_update()** method removes the unwanted items from the original set.

In [105]:
s1 = {'a','b','c','d'}
s2 = {'c','d','d','w','f'}

s1.difference_update(s2)    # updates s1 by removing common elements
s1

{'a', 'b'}

### Discard()

The **discard()** method removes the specified item from the set.

This method is different from the **remove()** method, because the **remove()** method will raise an error if the specified item does not exist, and the **discard()** method will not.

In [74]:
s = {1,2,3,4,5}
s.discard(5)
s

{1, 2, 3, 4}

In [76]:
s = {1,2,3,4}
s.discard(10)    # will not give an error even if 10 is not in the set
s

{1, 2, 3, 4}

### Intersection()
Returns a set that has common elements from both the sets.

In [79]:
s1 = {'a','b','c','d'}
s2 = {'c','d','d','w','f'}

s3 = s1.intersection(s2)    # creates a new set s3 having only the common elements from both the sets.
s3

{'c', 'd'}

### Intersection_update()
Updates the first set by only keeping the common elements from both the sets.

In [81]:
s1 = {'a','b','c','d'}
s2 = {'c','d','d','w','f'}

s1.intersection_update(s2)    # updates s1 with only the common elements form both the sets.
s1

{'c', 'd'}

### isdisjoint()
The **isdisjoint()** method returns True if none of the items are present in both sets, otherwise it returns False.

In [85]:
s1 = {'a','b','c','d'}
s2 = {'c','d','d','w','f'}
x = s1.isdisjoint(s2)    # Returns False as there are common elements in both the sets.
x

False

In [84]:
s1 = {1,2,3}
s2 = {4,5,6}
x = s1.isdisjoint(s2)    # Returns True as there are no common elements in both the sets.
x

True

### issubset()
The **issubset()** method returns True if all items in the set exists in the specified set, otherwise it returns False.<BR>
It checks if the first set is a subset of second set or not.

In [87]:
s1 = {1,2,3}
s2 = {5,4,3,2,1,6}
s1.issubset(s2)    # Returns True as a1 is a subset of s2 i.e, all the elements from s1 are present in s2.

True

In [89]:
s1 = {1,2,3,9}
s2 = {5,4,3,2,1,6}
s1.issubset(s2)    # Returns False as al the elements from s1 are not in s2

False

### issuperset()
The **issuperset()** method checks if the first set is a super set of second set or not i.e, whether the first set contains all the elements present in the second set.

In [91]:
s1 = {1,2,3,4,5,6,7,8,9}
s2 = {5,4,3}
s1.issuperset(s2)    # Returns True as the first set is a super set of the second set.

True

In [93]:
s1 = {1,2,3,4,5,6,7,8,9}
s2 = {5,4,3,0}
s1.issuperset(s2)    # Returns False as the first set does not have all the elements from the second set.

False

### Pop()
Removes a random number from the set. This is because sets are un-indexed.<br>
.pop() methid gives the item that has been removed

In [98]:
s = {1,2,3,4,5,6}
x = s.pop()
print(s)
print('Item removed :',x)

{2, 3, 4, 5, 6}
Item removed : 1

### Remove()
Removes the specified item from the set.
<br> Gives an error if the specified item is not in the set.

In [100]:
s = {1,2,3,4,5}
s.remove(5)
s

{1, 2, 3, 4}

In [102]:
s = {1,2,3,4,5}
s.remove(10)    # Returns an error since 10 is not present in the set
s

KeyError: 10

### Symmetric_difference()
Return a set that contains all items from both sets, except items that are present in both sets. (except for the common elements)

In [107]:
s1 = {1,2,3}
s2 = {8,3,2}
s3 = s1.symmetric_difference(s2)
s3

{1, 8}

### Symmetric_difference_update()
Updates the first set with all the elements from both the sets except for the common elements.

In [110]:
s1 = {1,2,3}
s2 = {2,5,6}
s1.symmetric_difference_update(s2)    # Updates s1 with all the uncommon elements from the two sets
s1

{1, 3, 5, 6}

### Union

The **union()** method returns a set that contains all items from the original set, and all items from the specified set(s).<br>
You can specify as many sets you want, separated by commas.<br>
It does not have to be a set, it can be any iterable object.<br>
If a same item is present in two or more sets, the resulting set will have that item only once because sets dont have duplicates.

In [113]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {3,4,6,7}

s = s1.union(s2,s3)
s

{1, 2, 3, 4, 5, 6, 7}

### Update

The **update()** method updates the current set, by adding items from another set (or any other iterable).<br>
If an item is present in both sets, only one appearance of this item will be present in the updated set.<br>
We can add items from a set, list, tuple, dictionary also.

In [114]:
s1 = {'a','b','c'}
s2 = {1,2,3}
s1.update(s2)
s1

{1, 2, 3, 'a', 'b', 'c'}

In [115]:
s = {'a','b','c'}
l = [1,2,3]
s.update(l)
s

{1, 2, 3, 'a', 'b', 'c'}

In [116]:
s = {'a','b','c'}
t = 1,2,3
s.update(t)
s

{1, 2, 3, 'a', 'b', 'c'}

## <font color = Orange> Dictionaries
- Dictionaries are used to store data values in key:value pairs.
- **Dictionary items are ordered, changeable, and does not allow duplicates**.
- Dictionaries are written with curly brackets, and have keys and values.
- As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [2]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'address' : 'Dmm'
}

d

{'name': 'Niranjan', 'age': 26, 'gender': 'm', 'address': 'Dmm'}

- Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [4]:
# We can access the values from the dictionary by referring to the keys.

d['name']

'Niranjan'

In [6]:
# we can change teh values in a dictionary

d['name'] = 'Abhi'
print(d)

print(d['name'])

{'name': 'Abhi', 'age': 26, 'gender': 'm', 'address': 'Dmm'}
Abhi

#### Duplicates are not allowed 
Dictionaries cannot have two items with the same key.
Duplicate values will overwrite existing values.

In [7]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'address' : 'Dmm',
    'age' : '27'
}

d

{'name': 'Niranjan', 'age': '27', 'gender': 'm', 'address': 'Dmm'}

#### Length of dictionary

In [8]:
len(d)

4

#### Any datatype

In [11]:
# The values in dictionaries can be of any data type.

d = {
    'name' : 'Abhi',
    'age' : 26,
    'male' : True,
    'skills' : ['SQL','PBI','Excel','Python']
}

print(d)

{'name': 'Abhi', 'age': 26, 'male': True, 'skills': ['SQL', 'PBI', 'Excel', 'Python']}

- Dictionaries are defined as objects with the data type 'dict'

In [12]:
type(d)

dict

In [13]:
print(type(d))

<class 'dict'>

#### Dict constructor

In [14]:
# Dictionaries can also be created by using dict constructor

d = dict(name = 'Abhi', age = 26, gender = 'M')
d

{'name': 'Abhi', 'age': 26, 'gender': 'M'}

### Accessing Dictionary items

- You can access the items of a dictionary by referring to its key name, inside square brackets.

In [19]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'address' : 'Dmm',
    'age' : '27'
}

print(d)
d['name']

{'name': 'Niranjan', 'age': '27', 'gender': 'm', 'address': 'Dmm'}

'Niranjan'

In [17]:
print(d['age'])

27

#### Get() Method    
We can also access the values using get() method.

In [20]:
d.get('name')

'Niranjan'

In [21]:
print(d.get('address'))

Dmm

#### Keys() Method
Keys() method will return a list with all the keys in the dictionary.

In [25]:
k = d.keys()
print(k)

dict_keys(['name', 'age', 'gender', 'address'])

#### Values() Method
Values() method returns a list of all the values in the dictionary.

In [28]:
d.values()

dict_values(['Niranjan', '27', 'm', 'Dmm'])

#### Items() Method
Items() method will return each item in a dictionary, as tuple in a list.

In [30]:
print(d.items())

dict_items([('name', 'Niranjan'), ('age', '27'), ('gender', 'm'), ('address', 'Dmm')])

#### To check if a key exists :

In [34]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'address' : 'Dmm',
    'age' : '27'
}

if 'name' in d:
    print('Yes, name is present in the dictionary.')

Yes, name is present in the dictionary.

### Change items
You can change the value of a specific item by referring to its key name.

In [36]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'address' : 'Dmm',
    'age' : '27'
}

print('Before change : ', d)

d['name'] = 'Abhi'

print('After the change : ', d)

Before change :  {'name': 'Niranjan', 'age': '27', 'gender': 'm', 'address': 'Dmm'}
After the change :  {'name': 'Abhi', 'age': '27', 'gender': 'm', 'address': 'Dmm'}

#### Update() method
update() method updates the items values with given values.

In [38]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'address' : 'Dmm',
    'age' : '27'
}
print('Before change : ', d)

d.update({'name':'Abhi'})
print('After the change : ',d)

Before change :  {'name': 'Niranjan', 'age': '27', 'gender': 'm', 'address': 'Dmm'}
After the change :  {'name': 'Abhi', 'age': '27', 'gender': 'm', 'address': 'Dmm'}

### Add items 
Adding an item to the dictionary is done by using a new index key and assigning a value to it.

In [43]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'address' : 'Dmm',
    'age' : '27'
}

print('Before adding : ', d)

d['height'] = 6    # adds a new item to the dictionary

print('After adding : ', d)

Before adding :  {'name': 'Niranjan', 'age': '27', 'gender': 'm', 'address': 'Dmm'}
After adding :  {'name': 'Niranjan', 'age': '27', 'gender': 'm', 'address': 'Dmm', 'height': 6}

#### Update() 
We can use update() method to add new items to the dictionary.

In [6]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'address' : 'Dmm',
    'age' : '27'
}

print('Before change : ', d)

d.update({'height' : 6})    #updates the dictionary d with height

print('After the change : ', d)

Before change :  {'name': 'Niranjan', 'age': '27', 'gender': 'm', 'address': 'Dmm'}
After the change :  {'name': 'Niranjan', 'age': '27', 'gender': 'm', 'address': 'Dmm', 'height': 6}

### Deleting items
There are several ways to remove or delete an item from a dictionary.

### Pop() method
Pop() method removes the item with specified key name.

In [46]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'address' : 'Dmm',
    'height' : 6
}

print('Before deleting : ', d)

d.pop('height')
print('After deleting : ', d)

Before deleting :  {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'address': 'Dmm', 'height': 6}
After deleting :  {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'address': 'Dmm'}

### Popitem()
The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead).

In [51]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}
print('Before adding a new item :',d)

d['address'] = 'dmm'
print('After adding a new item :', d)

d.popitem()    # deletes last added item.
d

Before adding a new item : {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6}
After adding a new item : {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6, 'address': 'dmm'}

{'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6}

### del 
The del keyword removes the item with the specified key name.

In [52]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

print('Before deleting : ',d)

del d['height']

print('After deleting :', d)

Before deleting :  {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6}
After deleting : {'name': 'Niranjan', 'age': 26, 'gender': 'm'}

- The **del** keyword can also delete the dictionary completely

In [53]:
del d

d    # gives a definition error as d is deleted

NameError: name 'd' is not defined

### clear()
Clear() method empties the entire dictionary.

In [54]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

print('Before clear : ', d)

d.clear()

print('After clear : ', d)

Before clear :  {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6}
After clear :  {}

### Looping Dictionaries

#### To get all the keys in the dictionary

In [8]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

for x in d:    # loops through all the keys and prins them
    print(x)

name
age
gender
height

In [17]:
# You can use .keys() to get all the keys from a dictionary

d.keys()    # gives a list of all the keys in the dictionary

dict_keys(['name', 'age', 'gender', 'height'])

In [18]:
# Looping throgh the list of keys

for x in d.keys():
    print(x)

name
age
gender
height

#### To get all the values in a dictionary

In [20]:
# You can use .values() to get all the values from the dictionary

d.values()

dict_values(['Niranjan', 26, 'm', 6])

In [21]:
# Loops through the list of values from the dictionary.

for x in d:    
    print(d[x])

Niranjan
26
m
6

#### To get both the keys and values use items() method

In [22]:
d.items()    # Returns a list of tuples with key value pairs

dict_items([('name', 'Niranjan'), ('age', 26), ('gender', 'm'), ('height', 6)])

In [26]:
# Loop through both the keys and values

for x, y in d.items():
    print(x,y)

name Niranjan
age 26
gender m
height 6

### Nested Dictionaries

In [28]:
a = {
    'name' : 'abhi',
    'age' : 26,
    'address' : 'dmm'
}

b = {
    'name' : 'chintu',
    'age' : 15,
    'address' : 'atp'
}

c = {
    'name' : 'madhu',
    'age' : 29,
    'address' : 'ymp'
}

fam = {
    'a' : a,
    'b' : b,
    'c' : c
}

print(fam)

{'a': {'name': 'abhi', 'age': 26, 'address': 'dmm'}, 'b': {'name': 'chintu', 'age': 15, 'address': 'atp'}, 'c': {'name': 'madhu', 'age': 29, 'address': 'ymp'}}

#### Accessing nested dictionaries

In [29]:
fam['a']['name']

'abhi'

In [30]:
fam['a'].keys()

dict_keys(['name', 'age', 'address'])

In [31]:
fam['b'].values()

dict_values(['chintu', 15, 'atp'])

In [32]:
fam['a'].items()

dict_items([('name', 'abhi'), ('age', 26), ('address', 'dmm')])

### Dictionary Methods

### Clear()

Removes all the elements from the dictionary.

In [38]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

print('Before :', d)

d.clear()    # Returns an empty dictionary

print('After :', d)

Before : {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6}
After : {}

### Copy()
Returns a copy of the specified dictionary.

In [40]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

c = d.copy()

print(c)

{'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6}

### Fromkeys()
The fromkeys() method returns a dictionary with the specified keys and the specified value.

In [42]:
x = ('name', 'age', 'gender')
y = ('abhi', 26, 'm')

d = dict.fromkeys(x,y)

print(d)

{'name': ('abhi', 26, 'm'), 'age': ('abhi', 26, 'm'), 'gender': ('abhi', 26, 'm')}

### Get()
The get() method returns the value of the item with the specified key.

In [51]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

d.get('name')

'Niranjan'

### Items()
Returns a list of tuples with key value pairs from the dictionary.

In [46]:
d.items()

dict_items([('name', 'Niranjan'), ('age', 26), ('gender', 'm'), ('height', 6)])

### Keys()
Returns a list of all the keys present in the dictionary.

In [47]:
d.keys()

dict_keys(['name', 'age', 'gender', 'height'])

### Pop()
Removes the specified item from the dictionary.

In [57]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

print('Before : ', d)

d.pop('height')

print('After : ', d)

Before :  {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6}
After :  {'name': 'Niranjan', 'age': 26, 'gender': 'm'}

In [58]:
# .pop() gives the value of the item that has been removed.

d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

x = d.pop('height')

print('Removed value : ', x)

Removed value :  6

### Popitem()
Removes the last inserted item in the dictionary.

In [60]:
d = {
    'name' : 'Niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

print('Before adding an element : ', d)

d['address'] = 'dmm'

print('After adding a new element :', d)

d.popitem()    # Removes the last inserted item i.e, address 

print('Final dictionary : ', d)

Before adding an element :  {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6}
After adding a new element : {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6, 'address': 'dmm'}
Final dictionary :  {'name': 'Niranjan', 'age': 26, 'gender': 'm', 'height': 6}

### Setdefault()
The setdefault() method returns the value of the item with the specified key.<br>
If the key does not exist, insert the key, with the specified value, see example below

In [65]:
d = {
    'name' : 'niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

d.setdefault('name', 'abhi')

'niranjan'

### Update()
The update() method inserts the specified items to the dictionary.

In [69]:
d = {
    'name' : 'niranjan',
    'age' : 26,
    'gender' : 'm',
    'height' : 6
}

d.update({'name':'abhi'})    # Updates the name

d

{'name': 'abhi', 'age': 26, 'gender': 'm', 'height': 6}

### Values()
Returns a list of all the values in the dictionary.

In [70]:
d.values()

dict_values(['abhi', 26, 'm', 6])

## Control FLow Statements

### if-else statement

In [ ]:
#giving input
a = int(input('Please enter a number : '))

if a<0:
    print('Negative is converted to Zero')
elif a == 0:
    print('Zero')
elif a == 1:
    print('Single')
else:
    print('More')

In [8]:
# if statements cannot be empty, but if you for some reason have an if statement with no content, 
# put in the pass statement to avoid getting an error.

a = 4
b = 5

if a > b:
    pass

## While Loops
With the while loop we can execute a set of statements as long as a condition is true.

In [1]:
i = 1
while i < 5:
    print(i)
    i = i+1

1
2
3
4

In [7]:
i = 1
while i < 10:
    print(i)
    if i == 7:
        break
    i+=1

1
2
3
4
5
6
7

### For loop (Iterating through)

In [2]:
names = ['Abhi', 'Niranjan', "Cherry", 'Chintu', 'Vinod', 'Madhu', 'Teja']
for x in names:
    print(x, len(x))

Abhi 4
Niranjan 8
Cherry 6
Chintu 6
Vinod 5
Madhu 5
Teja 4

In [3]:
#use items() method to unpack dictionaries
data = {'Abhi' : 90, 'Niranjan':100, "Cherry":50, 'Chintu':20, 'Vinod':35, 'Madhu':10, 'Teja':70}
for x, y in data.items():   
   print(x,'-',y)

Abhi - 90
Niranjan - 100
Cherry - 50
Chintu - 20
Vinod - 35
Madhu - 10
Teja - 70

In [4]:
#items() gives tuples of each key value pairs
print(data.items())

dict_items([('Abhi', 90), ('Niranjan', 100), ('Cherry', 50), ('Chintu', 20), ('Vinod', 35), ('Madhu', 10), ('Teja', 70)])

In [5]:
#creating a new set whose marks are < 50
df={}
for x, y in data.items():
    if y<50:
        df[x]=y
print(df)

{'Chintu': 20, 'Vinod': 35, 'Madhu': 10}

In [6]:
#end=',' makes the output to be in a single line
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [90]:
#We can specify from, to and the step size in the range
l=list(range(1,100,5))
t=tuple(range(1,34,2))
print(l)
print(t)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]
(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33)

In [53]:
m,n,s = int(input('Starting Number : ')),int(input('Ending Number : ')),int(input('Step size : '))
for i in range(m,n,s):
    if i%2==0:
        print(i, end=' ')

Starting Number : 21
Ending Number : 99
Step size : 5
26 36 46 56 66 76 86 96

In [11]:
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [20]:
#to print odd or even numbers from a given range of numbers
for i in range(100):
    if i%2 != 0:
        print(i,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [29]:
for i in range(len(data)):
    print(i, data, end = ' ')

0 {'Abhi': 90, 'Niranjan': 100, 'Cherry': 50, 'Chintu': 20, 'Vinod': 35, 'Madhu': 10, 'Teja': 70} 1 {'Abhi': 90, 'Niranjan': 100, 'Cherry': 50, 'Chintu': 20, 'Vinod': 35, 'Madhu': 10, 'Teja': 70} 2 {'Abhi': 90, 'Niranjan': 100, 'Cherry': 50, 'Chintu': 20, 'Vinod': 35, 'Madhu': 10, 'Teja': 70} 3 {'Abhi': 90, 'Niranjan': 100, 'Cherry': 50, 'Chintu': 20, 'Vinod': 35, 'Madhu': 10, 'Teja': 70} 4 {'Abhi': 90, 'Niranjan': 100, 'Cherry': 50, 'Chintu': 20, 'Vinod': 35, 'Madhu': 10, 'Teja': 70} 5 {'Abhi': 90, 'Niranjan': 100, 'Cherry': 50, 'Chintu': 20, 'Vinod': 35, 'Madhu': 10, 'Teja': 70} 6 {'Abhi': 90, 'Niranjan': 100, 'Cherry': 50, 'Chintu': 20, 'Vinod': 35, 'Madhu': 10, 'Teja': 70}

### <font color = orange> Odd or Even

In [91]:
#Even or odd based on given inputs
Number = int(input('Enter a number : '))
if Number%2==0:
    print('Number is even')
else:
    print('Number is odd')

Enter a number : 6
Number is even

### <font color = orange> Prime Numbers from a given range

In [101]:
#Prime numbers form a given range of numbers
for x in range(int(input('Starting Number : ')), int(input('Ending Number : '))):
    for y in range(2, x):
        if x%y==0:
            print(x,' equals ',y,'*',x//y)
            break
    else :
        print(x, ' is a Prime Number')

Starting Number : 5
Ending Number : 21
5  is a Prime Number
6  equals  2 * 3
7  is a Prime Number
8  equals  2 * 4
9  equals  3 * 3
10  equals  2 * 5
11  is a Prime Number
12  equals  2 * 6
13  is a Prime Number
14  equals  2 * 7
15  equals  3 * 5
16  equals  2 * 8
17  is a Prime Number
18  equals  2 * 9
19  is a Prime Number
20  equals  2 * 10

In [1]:
from platform import python_version
python_version()

'3.11.0'

### <font color = orange> Match Case similar to case when in SQL

In [2]:
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"

In [4]:
http_error(404)

'Not found'

### <font color = Orange> Fibonacci Series

In [7]:
#fibonacci series function

def fib(n):
    a, b = 0,1
    while a<n:
        print(a,end = ' ')
        a, b = b, b+a
    print()
fib(3000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584

In [10]:
#we can assign any function to a variable and later reference the function with the variable name
f = fib
f(10)

0 1 1 2 3 5 8

In [17]:
#return a list of fibonacci numbers upto n
def fib_list(n):
    fibonacci_list = []
    a,b = 0,1
    while a<n:
        fibonacci_list.append(a)
        a, b = b, b+a
    return fibonacci_list    
fib_list(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [6]:
round(4.65780)

5

In [14]:
def func(a: int, b: int) -> int:
    return a/b

func(10,2)

5.0

In [1]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'